body{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.hero_section{
    background: url('./image2/headerBackground.jpg');
    background-size: cover; 
    background-position: center; 
    color: rgb(233, 23, 23);
    height: 497px;
    width: 100%;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 16px 68px;
}
.navbar a{
    color:white;
    height: 50px;
    text-decoration: none;
}
.navbar a:hover{
color: yellow;
}

.link:hover{
    color: yellow;

}

.navbar_menu_container{
    display: flex;
    gap:18px;
}
.list{
    word-spacing: 10px;
}
.navbar_menu_container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
}
.list .user_icon{
    display: none;
}
    /* hero section heading and search */
    .hero_sec_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        height: 30vh;
    }
    /* hero section zomato heading */
    .hero_section_head{
        width: 300px;
        height: 50px;
    }
    .hero_sec_h1{
        text-align: center;
        font-size: 40px;
        color: white;
       
    }
    .hero_sec_inp_container{
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 60%;
        border-radius: 10px;
    }
    .hero_sec_inp_container .hero_sec_inp_loc{
        padding: 5px;
        border: none;
        outline: none;

    }
    .hero_sec_inp_loc{
        width: 35%;
    }
    .location_styl{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-left: -285px;
        background-color: white;
        
    }
 
     .hero_sec_inp_loc{
        height: 100%;
        width: 100%;
        margin-left: 10px;
        /* padding: 10px 155px 0 65px; */
    }
    .down_icon{
        border-right: 2px solid grey;
        letter-spacing: 15px;
    }
    .hero_sec_inp_container .hero_sec_inp_dish{
        padding: 5px;
        border: none;
        outline: none;
    }
    .dishes{
      display: flex;
      position: relative;
    }
    .dishes .searchIcon{
        margin-top: 8px;
    }
    .dishes .hero_sec_inp_dish{
        width: 100%;
    }
   

    /* we offer */
    .container{
        margin: 3rem auto;
        width: 90%;
    }
    .we_offer{
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .we_offer_card{
        border-radius: 10px;
        background-color: beige;
        overflow: hidden;
        border: 1px solid beige;
        margin: 10px;
        
    }
    .we_offer_card:hover{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
    .we_offer_card img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .collections h1{
        font-weight: 600;
    }
    .collections .sub_heading_container{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .sub_heading_container span:nth-child(2){
        color: red;
        font-size: 16px;
        cursor: pointer;
    }
    .collections_card_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1.25rem;
        
        
    }
    .collections_card_container .card{
        height: 300px;
        min-width: 240px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: relative;
    }
    .card1{
        background-image: url('./image2/collections1.webp');
    }
    .card2{
        background-image: url('./image2/collections2.webp');
    }
    .card3{
        background-image: url('./image2/collections3.webp');
    }
    .card4{
        background-image: url('./image2/collections4.webp');
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        background:linear-gradient(0deg,
        rgba(0,0,0,0.5)0%,
        rgba(0,0,0,0.5)50%,
         rgba(0,0,0,0.5)80%,

        ) ;
        z-index: 10;
        /* color: white; */
    }
    .collections_card_container .card .content{
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding: 12px 16px;
        font-size: 0.9rem;
    }
    .content h4{
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    /* get app */
    .get__the_app{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255,251,247);
        width: 100%;
        padding: 3rem 6rem;
    }
    
    .get__the_app .semiContainer{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    
    .get__the_app .semiContainer .left{
        flex: 2;
    }
    
    .get__the_app .semiContainer .left img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .get__the_app .semiContainer .right{
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .right h1{
        font-weight: 400;
        font-size: 2rem;
    }
    
    .right p{
        font-size: 0.8rem;
    }
    
    .right .radio__button_container{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .right .radio__button_container div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .right .radio__button_container div input{
        height: 15px;
        width: 15px;
        accent-color: rgb(239, 79, 95);
    }
    
    .right .input_container{
        display: flex;
        gap: 0.5rem;
    }
    
    .input_container{
        flex-wrap: wrap;
    }
    
    .input_container button,
    .input_container input{
        padding: 10px 12px;
    }
    
    .input_container input{
        flex: auto;
        border:  1.5px solid gray;
        outline: none;
        border-radius: 5px;
    }
    
    .input_container button{
        border: none;
        background-color: rgb(239, 79, 95);
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .right .download__app_container{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    
    .right .download__app_container h5{
        font-weight: 400;
        color: gray;
    }
    
    .right .download__app_container div{
        display: flex;
        gap: 1rem;
    }
    
    .right .download__app_container div img{
        width: 35%;
    }
    

    /* Popular locality */
   .placeBtn{
    width: 400px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(233, 225, 225);
    box-shadow: 10px;
    border-radius: 10px;
    background-color: rgb(245, 215, 178);
   }
   .placeBtn .spacing{
    padding-left: 265px;
   }
   .placeBtn .rightArrow{
    padding-left: 250px;
   }
    
    /* footer */

    .footer{
        width: 100%;
    }
    
    .footer_section1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        /* gap: 1px; */
    }
    
    .footer_section1 img{
        width: 130px;
    }
    
    .section1__buttonContainer{
        display: flex;
        gap: 1rem;
    }
    
    .section1__buttonContainer button{
        padding: 2px;
        width: 90px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
    }
    
    .navigation_container{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
        margin: auto;
        gap: 1rem;
        padding: 3rem 0;
    }
    
    .link__container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }

    .link__container h5{
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
        letter-spacing: 0.8px;
    }
    
    .footer__link{
        text-decoration: none;
        color: gray;
        font-size: 12.5px;
        font-weight: 300;
    }
    
    .footer__link:hover{
        color: black;
    }
    
    .section__links_container button{
      background-color: black;
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 30px;
      color: white;
      cursor: pointer;
    }
    .section__links_container button i{
        /* color: white; */
        font-size: 13px;
        display: flex;
        /* horizontal / x-axis */
        align-items: center; 
        /* Vertical / y-axis */
        justify-content: center;
    }
    
    .footer__section_logos{
        width: 100%;
    }
    
    .disclamer{
        width: 95%;
        color: gray;
        margin: auto;
        border-top: 1px solid gray;
        padding-top: 1.5rem;
        font-size: small;
    }
    



    /* responsive */

@media only screen and (max-width:600px){
    /* navbar */

    .list .user_icon{
        display: unset;
    }
    /*  */

    .hero_section{
     
        height: 497px;
    }
    .navbar_menu_container .user_icon{
        display: flex;
    }
   
    .link{
        display: none;
    }
   
   
    .hero_sec_inp_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
  
   
    .hero_section_head{
        font-size: 10px;
        width: 35%;
        height: 30px;
        margin-top: 63px;

    }
    .hero_sec_h1{
        font-size: 20px;
    }
    .hero_sec_inp_container{
        margin-top: -46px;
    }
     .location_styl{
        margin-left: 1px;
        background-color: white;
        border-radius: 10px;
        /* padding-left: 10px; */
        width: 100%;
    } 
    .loc_icon{
        padding-left: 10px;
    }
    .down_icon{
        padding-right: 40px;
    }
    .dishes{
        background-color: white;
        border-radius: 10px;
        padding-left: 10px;
        width: 100%;
    }
    .dishes .hero_sec_inp_dish{
        /* margin-left: -70px; */
        width: 100%;
    }
    .down_icon{
        border-right: unset;
        letter-spacing: unset;
    }

}

/* popular locality */
@media(max-width:950px){
    .placeBtn{
        display: block;
        margin-left: 251px;
        margin-top: 25px;
    }
}
@media(max-width:500px){
    .placeBtn{
        display: block;
        margin-left: 25px;
        margin-top: 25px;
        width: 330px;
        height: 70px;
    }
    .placeBtn .spacing{
        padding-left: 257px;
       }
       .placeBtn .rightArrow{
        padding-left: 237px;
       }
}

/* navbar for getapp */


@media only screen and (max-width: 1300px){
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
        flex: 1;
    }

    .get__the_app .semiContainer{
        width: 80%;
    }
    .location_styl{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-left: -83px;
        background-color: white;
        
    }
}

/* 0-900 */
@media only screen and (max-width: 900px){
    .get__the_app{
        padding: 2rem 0;
    }
    .get__the_app .semiContainer{
        width: 95%;
        flex-direction: column;
    }
}


@media only screen and (max-width: 900px){
    .navigation_container{
            grid-template-columns: repeat(3, 1fr);
    }
    .section__links_container{
        display: none;
    }
    .footer__section_logos{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .navigation_container{
            grid-template-columns: repeat(2, 1fr);
    }
    .location_styl{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-left: -6px;
        background-color: white;
        
    }
}

@media only screen and (max-width: 320px){
    .navigation_container{
            grid-template-columns: repeat(1, 1fr);
    }
}

/* explore */